// Colors
// ----------------------------------------------------------------------------

$white:         				#fff;
$black:         				#000;
$grey:          				#D8D8D8;
$blue:          				#5AA3E8;


// Grid
// ----------------------------------------------------------------------------

$column:       					60px;
$gutter:       					20px;
$max-width:    					1280px;
$grid-columns: 					12;


//Fonts
// ----------------------------------------------------------------------------

$georgia: 'Georgia', 'Times New Roman', serif;


//BreakPoints
// ----------------------------------------------------------------------------

$ipad: new-breakpoint(max-width 975px);
$iphone: new-breakpoint(max-width 480px);
