.icon-magnifying-glass {
  width: 16px;
  height: 16px;
  background: image-url('magnifying-glass.svg') no-repeat center center;
  background-size: 100%;
}

.icon-plus {
  width: 8px;
  height: 8px;
  background: image-url('plus.svg') no-repeat center center;
  background-size: 100%;
}

.icon-minus {
  width: 8px;
  height: 8px;
  background: image-url('minus.svg') no-repeat center center;
  background-size: 100%;
}